body {
    /* background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=800); */
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    display: flex;
    width: 250px;
}
button {
    width: 70px;
    margin-top: 10px;
}