.nav img {
    height: 30px;
}
.nav {
    display: flex;
    justify-content: center;
    background-color: black;
}
.content {
    color: #fff;
    padding: 5px ;
}
*{
    /* padding: 0px; */
    /* margin: 0px; */
}
ol li b {
    margin-left: 0px;
}
.toolbar-item button {
    cursor: pointer;
    padding: 8px !important;
    border-radius: 7px;
}
