body {
    background-color: black;
    color: #fff;
    /* overflow-x: hidden; */
}
*{
    padding: 0px;
    margin: 0px;
}
.left {
    width: 25vw;
    padding: 10px;
    margin-top: 15px;
    background-color: #121212;

}
.title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.home {
    display: flex;
    align-items: center;

}

.home ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin-top: 10px;
}
.library {
    background-color: #090909;
    width: 25vw;
    height: 100vh;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    gap: 10px;
}
.right {
    color: #fff;
    width: 75vw;
    margin: 16px;
    position: absolute;
    top: 0px;
    left: 27vw;
    
    
}
.nav {
    width: 95%;
    background-color: #121212;
    height: 60px;
    display: flex;
    align-items: center;
   gap: 10px;
   justify-content: space-around;
}
.signup {
    /* position: absolute; */
    right: 22vw;
    background-color: #121212;
    color: #fff;
    border: none;
    margin: 0px 30px;
}
.login {
    /* position: absolute; */
    right: 10vw;
    border-radius: 16px;
    background-color: #fff;
    width: 60px;
    height: 30px;
}
.card-container {
    background-color: #090909;
    margin-top: 10px;
    height: 100vh;
    width: 95%;
}
.heading h2 {
    padding: 25px;
}
.song_list {
    margin-top: 50px;
}
.footer {
    position: fixed;
    display: flex;
    bottom: 7px;
    font-size: 13px;
    gap: 10px;
    z-index: 10;
}
.footer a {
    color: gray;
}
.play-bar {
    position: absolute;
    bottom: 110px;
    width: 90%;
    background-color: #121212;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}
.next-btn img{
    position: relative;
    left: 30px;
}
.prev-btn img {
    position: relative;
    right: 30px;
}
.song_info {
    position: absolute;
    left: 10px;
    color: #fff;
}
.song_time {
    position: absolute;
    right: 10vw;
    color: #fff;
}
.song_list ul li {
    color: #fff;
}



@media screen and (max_width:500px) {
    
}