h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.calculator {
    display: flex;
    justify-content: center;
    
}
input {
    padding: 4px;
}
.row1 {
    display: flex;
    justify-content: center;
}
button {
    margin: 7px 8px;
    padding: 7px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    width:34px;
}
button :hover {
    background-color: gold;
}